{% extends 'base.html' %}

{% block title-content %} Forgotten Password? {% endblock title-content %}
    
{% block content %}

{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "account:dashboard" %}';
    </script>    
{% endif %}
    
<div class="col-12 col-md-7 mx-auto py-5">
    <h3 class="h3 mb-2">Forgotten Password?</h3>
    <hr class="hr mb-4">
    <p class="text-muted small">
        <p>
            Please enter the email associated with your {{ site_name }} account, we will send an email to help you reset your password.
        </p>
    </p>
    {% include '../../inc/_messages.html' %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Email Address Not Found! Please cross check your email and try again.
    </div>
    {% endif %}
    <form action="{% url 'account:reset-password' %}" method="POST">
        {% csrf_token %}
       <div class="form-group mb-3">
            <label for="id_{{ form.email.name }}" class="form-label">
                {{ form.email.label }}
            </label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Send My Password</button>
    </form>
    <hr class="hr my-3">
    <p class="text-left">
        <a href="{% url 'account:login' %}">Login |</a>
        <a href="{% url 'account:register' %}"> Register |</a>
        <a href="{% url 'store:home' %}"> Continue Shopping |</a>
    </p>
</div>    
{% endblock content %}