{% extends 'base.html' %}

{% block title-content %} Reset Your Password {% endblock title-content %}

{% block content %}

{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "account:dashboard" %}';
    </script>    
{% endif %}
    
<div class="col-12 col-md-7 mx-auto py-5">
    <h3 class="h3 mb-2">Reset Password</h3>
    <hr class="hr mb-4">
    {% include '../../inc/_messages.html' %}
    {% if form.errors %}
    <ul class="list-unstyled text-danger">
        {% for field in form %}
        <li class="list-item">{{ field.errors }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
       <div class="form-group mb-3">
            <label for="id_{{ form.new_password1.name }}" class="form-label">
                {{ form.new_password1.label }}
            </label>
            {{ form.new_password1 }}
        </div>
       <div class="form-group mb-3">
            <label for="id_{{ form.new_password2.name }}" class="form-label">
                {{ form.new_password2.label }}
            </label>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    <hr class="hr my-3">
    <p class="text-left">
        <a href="{% url 'account:login' %}">Login |</a>
        <a href="{% url 'account:register' %}"> Register |</a>
        <a href="{% url 'store:home' %}"> Continue Shopping |</a>
    </p>
</div>    
{% endblock content %}